    <h1>Welcome to My Website, <%= @user.name %></h1>
    <p>
      You have successfully signed up to my website with the following Email Address:
      <br>
      <%= @user.email %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
    