<h1 style = "text-align:center"> This is Home Page! </h1>
<%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
</br>
<%= link_to "Create a new project", new_project_path %>
</br>
<%= link_to "View all the projects", projects_path %>
