<h1 class="text-center mt-4">Bug Title: <%= @bug.title %></h1>
<h3 class="text-center mt-4">Bug Description: <%= @bug.description %></h3>
<%= link_to ' Show all bugs of this project', project_bugs_path, class: "text-primary" %>

